language: node_js
node_js:
 - "10.14.2"
dist: trusty
sudo: false

branches:
 only:
 - master

cache:
 directories:
   - node_modules

install:
 - npm install -g yarn

script:
 - npm run-script test
  - npm run-script build
deploy:
 provider: pages
 skip_cleanup: true
 github_token: $GITHUB_TOKEN
 local_dir: dist
 on:
   branch: master
